
.Link {
    position: relative;
    margin-left: 10px;
    text-decoration: none;
    color: #000;

    .opener {
        position: absolute;
        left: -20px;
        top: 0;
        transition: all 100ms linear;
    }

    .opener.open {
        transform: rotate(90deg);
        transform-origin: center;
    }
}

.Link.currentPage > *{
    color: #08f;
}
