main {
    position: relative;
    display: inline-block;
    width: 67%;
    border: 1px solid #aaa;
    min-height: 100px;
    vertical-align: top;
}

.containerParagraph textarea,
.containerCode textarea {
    width: 95%;
    height: 150px;
    padding: 5px;
    font-size: .8em;
    border:1px solid #888;
    border-radius: 5px;
}

.containerParagraph textarea {
    font-family: 'allerregular';
    color: #444;
}
.container.containerCode  {
    background-color: rgb(194, 194, 214);
}
.containerCode textarea {
    font-family: 'luxi_monoregular';
    color: #384d68;
}
.containerHeader input {
    font-size: 2em;
}
.containerSubheader input {
    font-size: 1.1em;
}
.containerBtns {
    text-align: right;
}