main {
    position: relative;
    display: inline-block;
    width: 67%;
    border: 1px solid #aaa;
    min-height: 100px;
    vertical-align: top;
}

.containerParagraph textarea {
    width: 90%;
    height: 150px;
    font-family: 'Museo_Slab_500';
    font-size: .8em;
    color: #444;
}