@import './aside.css';
@import './main.css';

@font-face {
    font-family: 'Museo_Slab_500';
    src: url('/assets/fonts/museoslab_500_macroman/Museo_Slab_500_2-webfont.woff2') format('woff2'),
        url('/assets/fonts/museoslab_500_macroman/Museo_Slab_500_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --colorShyText: #888;
    --colorPage: #eee;
    --colorActivePage: #f5f5f5;
}

html,
body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Museo_Slab_500';
}

.container {
    position: relative;
    display: block;
    padding: 5px;
    margin: 5px;
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 5px;
}