.container {
    position: relative;
    display: block;
    padding: 5px;
    margin: 5px;
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.container.code {
    background-color: rgb(235, 223, 197);
    border: 2px solid rgba(0, 0, 0, .5);
    font-family: luxi_monoregular;
    font-size: .9em;
}

.paragraph p {
    /* font-family: 'Lora', serif; */
    line-height: 1.4em;
}

.paragraph p td {
    padding-right: 10px;
    padding-left: 10px;
    background: rgba(0, 0, 0, .1);
    vertical-align: top;
}

.container.code p {
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 150px;
    /* white-space: pre; */
    border-left: 4px solid rgba(0, 0, 0, .1);
}

.container.links {
    background-color: rgb(197, 223, 235);
    font-size: .9em;
}

.container.links a,
.container.links a:visited {
    color: rgb(42, 50, 66);
    display: block;
    line-height: 1.6em;
}

.timestamps {
    text-align: right;
    color: rgba(0, 0, 0, .2);
    font-size: .8em;
}

.timestamps span {
    margin-left: 20px;
}

h1, h2, h3 {
    font-size: 2.2em;
    /* font-family: acre-semibold; */
    font-weight: normal;
    color: #006698;
}
h1 {
    font-weight: bold;
}
h2 {
    font-weight: bold;
    font-size: 1.5em;
    color: #006698;
}
h3 {
    font-size: 1.2em;
    color: #006698;
}