nav {}

nav .link {
    position: relative;
    display: block;
    margin-left: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

nav .link a {
    position: relative;
    cursor: pointer;
    color: #006698;
}

nav .link.current > a {
    background: rgba(100, 0, 0, .2);
    outline: 4px solid rgba(100, 0, 0, .2);
}

nav .link a:hover {
    /* background-color: rgba(0, 0, 0, .1); */
    border-bottom: 2px solid #000;
}

.link>.children {
    display: none;
}

.link.open>.children {
    display: block;
}

nav .link .extender {
    position: absolute;
    display: block;
    border: 2px solid #000;
    width: 10px;
    height: 10px;
    left: -17px;
    top: 3px;
}

nav .link .iconPlus,
nav .link .iconMinus {
    position: absolute;
    background: #000;
    color: #fff;
    text-align: center;
    width: 8px;
    height: 8px;
    left: 1px;
    top: 1px;
    background-image: url(/assets/img/icon_plus.png);
    background-repeat: no-repeat;
    background-size: cover;
}

nav .link>.extender .iconMinus {
    background-image: url(/assets/img/icon_minus.png);
    display: none;
}

nav .link>.extender .iconPlus {
    display: block;
}

nav .link.open>.extender .iconPlus {
    display: none;
}

nav .link.open>.extender .iconMinus {
    display: block;
}


.inPageLinks {
    display: none;
    /* color: #888; */
    color: #898b8d;
    font-size: .75em;
}
.current > .inPageLinks {
    display: block;
}

nav .link .inPageLink {
    margin:5px;
    margin-left:0;
}
nav .link .inPageLink a {
    color:#898b8d;
}
.inPageLink:hover a {
    color: #000;
    border-bottom: 1px solid #000;
}
/*
.inPageLink:nth-of-type(odd){
    color: #555;
}
*/